.nivel0 {
	font-size: 16px;
	background-color: orange;
	font-weight: bold;
	font-family: arial;
	border-width: 2px;
	border-style: double;
	border-color: green;
}

.nivel1 {
	font-size: 14px;
	background-color: orange;
	font-family: arial;
	border-width: 1px;
	border-color: green;
	border-style: double;
}

.nivel2 {
	font-size: 14px;
	background-color: yellow;
	font-family: arial;
	border-width: 1px;
	border-color: green;
	border-style: double;
}

.nivel2 > td:first-child {
    padding-left: 30px;
} 

.nivel3 {
	font-size: 12px;
	background-color: white;
	font-family: arial;
	border-width: 1px;
	border-color: green;
	border-style: double;
	font-weight: bold;
}

.nivel3 > td:first-child {
    padding-left: 45px;
} 
.nivel4 {
	font-size: 12px;
	background-color: white;
	font-family: arial;
	border-width: 1px;
	border-color: green;
	border-style: double;
}

.nivel4 > td:first-child {
    padding-left: 60px;
} 

.campo {
	margin: 6px;
}

.etiqueta {
	margin: 4px;
	text-align: right;
}

.tituloItens {
	margin: 10px;
	font-size: 12px;
	border-width: 2px;
	border-color: white;
}

.subTituloItens td{
	font-size: 12px;
	border-style: solid;
	border-color: orange;
	border-width: 1px;
	font-weight: bold;
}

input.blur {
	color: #aaa;
}

.camposItem {
	width: 65px;
	margin-left: 10px;
}

.popupLinhaItem td{
	font-size: 12px;
	border-style: solid;
	border-color: orange;
	border-width: 1px;
}